[submodule "noodles"]
	path = noodles
	url = git@github.com:madhavajay/noodles.git
	branch = madhava/bioscript
[submodule "htslib"]
	path = htslib
	url = https://github.com/madhavajay/htslib.git
	branch = htslib-rs-compat
