[submodule "repos/noodles"]
	path = repos/noodles
	url = git@github.com:madhavajay/noodles.git
	branch = madhava/bioscript
[submodule "repos/htslib"]
	path = repos/htslib
	url = https://github.com/madhavajay/htslib.git
	branch = htslib-rs-compat
